<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6RGnfcCmLJi7M2yVv2WxknIlXqaKEDJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>682214703186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trigon.scoutingapp</string>
	<key>PROJECT_ID</key>
	<string>trigon-scouting-app</string>
	<key>STORAGE_BUCKET</key>
	<string>trigon-scouting-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682214703186:ios:790e442fc8b2ce18859f8b</string>
</dict>
</plist>